*.iml
.gradle
/local.properties
/.idea/caches/
/.idea/libraries/
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/.kotlin/
/test-results
.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
