node_modules/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js
/.next/
/out/

# production
/build

# env files
.env

# typescript
*.tsbuildinfo
next-env.d.ts

# Databases
data/*
!data/.gitkeep
